---
title: Calendar
layout: page
permalink: /calendar/
description: Here is our class schedule. Give our office a call and we'll confirm your visit.
---
<link rel="import" href="calendar-grid.html"></link>
{% assign upcoming = site.data.events | where: "status", "upcoming" %}
{% assign past = site.data.events | where: "status", "past" %}
{% assign ongoing = site.data.events | where: "status", "ongoing" %}

<h1>Upcoming</h1>
<calendar-grid>
    {% for event in upcoming  %}
    <li class="exp">
      <calendar-card heading="{{event.name}}" img-src="{{site.baseurl}}/images/bg.jpg">
        <ul>
            <li><iron-icon icon="alarm"></iron-icon>{{event.time}}</li>
            <li><iron-icon icon="communication:location-on"></iron-icon>{{event.location}}</li>
        </ul>
      </calendar-card>
    </li>
    {% endfor %}
</calendar-grid>
<h2>Ongoing</h2>
<calendar-grid>
    {% for event in ongoing %}
    <li>
      <calendar-card heading="{{event.name}}" img-src="{{site.baseurl}}/images/bg.jpg">
      <ul>
          <li><iron-icon icon="alarm"></iron-icon>{{event.time}}</li>
          <li><iron-icon icon="communication:location-on"></iron-icon>{{event.location}}</li>
      </ul>
      </calendar-card>
    </li>
    {% endfor %}
</calendar-grid>
<h2>Past</h2>
<calendar-grid>
    {% for event in past %}
    <li>
      <calendar-card heading="{{event.name}}" img-src="{{site.baseurl}}/images/bg.jpg">
      <ul>
          <li><iron-icon icon="alarm"></iron-icon>{{event.time}}</li>
          <li><iron-icon icon="communication:location-on"></iron-icon>{{event.location}}</li>
      </ul>
      </calendar-card>
    </li>
    {% endfor %}
</calendar-grid>
