
<social-toolbar horizontal>
  {% include social.html %}
</social-toolbar>
<footer is="page-footer">
    <li>
        <section is="footer-section" title="Site" class="site">
            <nav>
                <site-map>
                    {% for nav in site.data.navs %}
                    <li><a href="{{site.baseurl}}/{{nav.href}}">{{nav.text}}</a></li>
                    {% endfor %}
                </site-map>
            </nav>
        </section>
    </li>
    <li>
        <section is="footer-section" title="Location">
          <a>
            <contact-item icon="home">
                <p>{{site.address}}</p>
                <p>{{site.city}}, {{site.state}}, {{site.zip}}</p>
            </contact-item>
          </a>
        </section>
    </li>
    <li>
        <section is="footer-section" title="Contact Us">
          <a href="mailto://{{site.email}}">
          <contact-item icon="mail" >
            <p>{{site.email}}</p>
          </contact-item>
        </a>
          <a href="tel:+13234867185">
            <contact-item icon="communication:phone" >
                <p>{{site.telephone}}</p>
            </contact-item>
          </a>
        </section>
    </li>
</footer>
