    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="{{site.baseurl}}/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="{{site.baseurl}}/bower_components/polymer/polymer.html"></link>
    <link rel="import" href="{{site.baseurl}}/bower_components/app-layout/app-layout.html"></link>
    <link rel="import" href="{{site.baseurl}}/bower_components/app-layout/app-scroll-effects/app-scroll-effects.html"></link>
    <link rel="import" href="{{site.baseurl}}/bower_components/paper-button/paper-button.html"></link>
    <link rel="import" href="{{site.baseurl}}/bower_components/paper-card/paper-card.html"></link>
    <link rel="import" href="{{site.baseurl}}/bower_components/paper-item/paper-item.html"></link>
    <link rel="import" href="{{site.baseurl}}/bower_components/paper-item/paper-item-body.html"></link>
    <link rel="import" href="{{site.baseurl}}/bower_components/paper-item/paper-icon-item.html"></link>
    <link rel="import" href="{{site.baseurl}}/bower_components/paper-menu/paper-menu.html"></link>
    <link rel="import" href="{{site.baseurl}}/bower_components/paper-icon-button/paper-icon-button.html"></link>
    <link rel="import" href="{{site.baseurl}}/bower_components/iron-icons/iron-icons.html"></link>
    <link rel="import" href="{{site.baseurl}}/bower_components/iron-list/iron-list.html"></link>
    <link rel="import" href="{{site.baseurl}}/elements/grid-tile.html"></link>
    <link rel="import" href="{{site.baseurl}}/elements/page-header.html"></link>
    <link rel="import" href="style.html"></link>
