<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="{{site.baseurl}}/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
{% include toVulcanize.html %}
<link rel="import" href="{{site.baseurl}}/bower_components/iron-icons/iron-icons.html"></link>
<link rel="import" href="{{site.baseurl}}/bower_components/iron-icons/social-icons.html"></link>
<link rel="import" href="{{site.baseurl}}/bower_components/iron-icons/communication-icons.html"></link>
<link rel="import" href="{{site.baseurl}}/bower_components/iron-icons/image-icons.html"></link>
<link rel="import" href="{{site.baseurl}}/social-icons.html"></link>
<link rel="import" href="{{site.baseurl}}/elements/grid-style.html"></link>
<link rel="import" href="{{site.baseurl}}/elements/page-header.html"></link>
<link rel="import" href="{{site.baseurl}}/elements/page-footer.html"></link>
<link rel="import" href="{{site.baseurl}}/elements/social-toolbar.html"></link>
<link rel="import" href="{{site.baseurl}}/elements/phone-button.html"></link>

<link rel="import" href="{{site.baseurl}}/style.html"></link>
<link rel="import" href="{{site.baseurl}}/theme.html"></link>
<link href="https://fonts.googleapis.com/css?family=Dosis:200|Poiret+One" rel="stylesheet">
