---
layout: default
title: Blog
---
<link rel="import" href="grid-tile.html"></link>
<blog-grid>
<li class="exp">  <page-header>
      <h1>{{page.title}}</h1>
      <p>{{page.description}}</p>
  </page-header></li>
{% for post in site.posts %}
  <li><grid-tile href="{{ post.url | prepend: site.baseurl }}">
    <h2>{{ post.title | escape }}</h2>
    <span>{{ post.date | date: "%b %-d, %Y" }}</span>
    {{ post.excerpt }}
  </grid-tile></li>
{% endfor %}
{% for post in site.posts %}
  <li><grid-tile href="{{ post.url | prepend: site.baseurl }}">
    <h2>{{ post.title | escape }}</h2>
    <span>{{ post.date | date: "%b %-d, %Y" }}</span>
    {{ post.excerpt }}
  </grid-tile></li>
{% endfor %}
</blog-grid>
