<html>

<head>
    <title>{{site.maintitle}} - {{page.title}}</title>
    {% include head.html %}
    <link rel="import" href="{{site.baseurl}}/elements/page-header.html"></link>
    <style is="custom-style">
        [main-title] {
            @apply(--toolbar-title);
        }
    </style>
</head>

<body class="fullbleed" unresolved>
    <app-drawer-layout force-narrow>
        <app-drawer align="end">
            {% include drawer.html %}
        </app-drawer>
        <app-header-layout has-scrolling-region>
            <app-header fixed>
                <app-toolbar>
                    {% include logo.html %}
                    <div main-title>{{site.title}}</div>
                    {% include toolbar.html %}
                </app-toolbar>
            </app-header>
            <div class="content">
                <page-header>
                    <h1>{{page.title}}</h1>
                    <p>{{page.description}}</p>
                </page-header>
                <div class="flex">
                    {{content}}
                </div>
            </div>
            {% include footer.html %}
        </app-header-layout>
    </app-drawer-layout>
</body>

</html>
